<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <title><%= current_page.data.title || "Donate to Ada Loan Fund" %></title>
  <link href="/" rel="canonical">
  <meta content="Ada Developers Academy is designed to increase the number of underrepresented skilled software developers while redefining and reinventing the way we prepare individuals to be successful. Our Ada Loan Fund allows applicants access to low interest loans to help with living expenses during the program. Donate today." name="description">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Donate to Ada Loan Fund" property="og:title">
  <meta content="website" property="og:type">
  <meta content="Ada Developers Academy is designed to increase the number of underrepresented skilled software developers while redefining and reinventing the way we prepare individuals to be successful. Our Ada Loan Fund allows applicants access to low interest loans to help with living expenses during the program. Donate today." property="og:description">
  <meta content="https://adaloanfund.org/" property="og:url">
  <meta content="https://adaloanfund.org/images/social/ada-donate_share_1200.jpg" property="og:image">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="Donate to Ada Loan Fund" name="twitter:title">
  <meta content="Ada Developers Academy is designed to increase the number of underrepresented skilled software developers while redefining and reinventing the way we prepare individuals to be successful. Our Ada Loan Fund allows applicants access to low interest loans to help with living expenses during the program. Donate today." name="twitter:description">
  <meta content="https://adaloanfund.org/images/social/ada-donate_share_1200.jpg" name="twitter:image">
  <%= stylesheet_link_tag "site" %>
</head>
<body>
  <%= yield %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jarallax/1.9.1/jarallax.min.js" %>
  <%= javascript_include_tag "menu-mobile" %>
  <%= javascript_include_tag "jarallax" %>
</body>
</html>
